.markdown-preview-view h1,
.markdown-source-view.mod-cm6 .cm-header-1 {
  color: #317fcf;
}

.markdown-preview-view h2,
.markdown-source-view.mod-cm6 .cm-header-2 {
  color: #61afef;
}

.markdown-preview-view h3,
.markdown-source-view.mod-cm6 .cm-header-3 {
  color: #91dfff;
}
